{%extends 'DEMOAPP/base.html'%}
{%block content%}
<h3 class="text-center"><font COLOR="#7cfc00"> Edit Profile</font></h3>
    <font COLOR="#5f9ea0">
    <form method="POST" action="{% url 'edit_profile' %}">
        {% csrf_token %}

        {% if form.errors %}
            <div class="alert alert-primary alert-dismissable" role="alert">
              <button class="close" data-dismiss="alert">
                <small><sup>x</sup></small>
              </button>
            <p>Something Error!!!</p>
                { % for field in form % }
                    {% if field.errors %}
                        {{field.errors}}
                    {% endif%}

            </div>
        {% endif %}

        {{form.as_p}}
        <input type="submit" value="Edit Profile" class="btn btn-secondary">
                <p><small><a href="{% url 'change_password'%}">Click here</a> to change password </small></p>

    </form>
        </font>

{%endblock%}